<div style="text-align:right">
  <ul style="list-style-type:none;">
    <li>
      <a *ngIf="logged" routerLink="/teacher">Home</a>
    </li>
    <li>
      <a *ngIf="logged" routerLink="/students">Students</a>
    </li>
    <li>
      <a *ngIf="logged" routerLink="/home">Logout</a>
      <a *ngIf="!logged" routerLink="/login">Login</a>
      <a *ngIf="!logged" routerLink="/register">Register</a>
    </li>
  </ul>
</div>
