<menu [logged]="true"></menu>
<p>
  Welcome {{teacherName}}!
</p>
<div style="text-align:center">
  <div class="col-md-6 col-md-offset-3" style="text-align:left">
    <h2>Register student</h2>
    <form [formGroup]="formGroup" autocomplete="off">
      <div>
        <label for="firstName">First name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <br/>
      <div>
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <br/>
      <div>
        <label for="email">Email*</label>
        <input type="text" class="form-control" formControlName="email" required/>
      </div>
      <br/>
      <div>
        <label>Course*</label>
        <select name="course" class="form-control" formControlName="course" required>
          <option *ngFor="let s of allSubjects" [value]="s.name">
            {{s.name}}
          </option>
        </select>
      </div>
      <br/>
      <br/>
      <div>
        <button id="submitBtn" type="submit" class="btn btn-primary" (click)="register()" [disabled]="!formGroup.valid">Register</button>
      </div>
    </form>
  </div>
</div>
