<menu [logged]="true"></menu>

<div class="container" style="text-align:left">
  <div class="col-2">
    <label>Course</label>
    <select name="course" (change)="onCourseSelectionChanged($event)">
      <option disabled="true">Chose a course</option>
      <option *ngFor="let s of allSubjects" [value]="s.name">
        {{s.name}}
      </option>
    </select>

    <label>Students</label>
    <select name="student" (change)="onStudentSelectionChanged($event)">
      <option disabled="true">Chose a student</option>
      <option *ngFor="let student of allStudents" [value]="student.email">
        {{student.firstName}}
      </option>
    </select>
  </div>
  <div style="text-align:center">
    <div class="col-md-6 col-md-offset-3" style="text-align:left">
      <h2>Register student</h2>
      <form [formGroup]="formGroup">
        <div>
          <label for="firstName">First name</label>
          <input type="text" class="form-control" formControlName="firstName" readonly/>
        </div>
        <br/>
        <div>
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" formControlName="lastName" readonly/>
        </div>
        <br/>
        <div>
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" readonly/>
        </div>
        <br/>
        <div>
          <label>Note</label>
          <input type="text" class="form-control" formControlName="note" required/>
        </div>
        <br/>
        <br/>
        <div>
          <button id="submitBtn" type="submit" class="btn btn-primary" (click)="sendNote()" [disabled]="!formGroup.valid">Send note</button>
        </div>
      </form>
    </div>
  </div>
</div>
